---
const { title = "Postal Systems" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/index-N3m_CGat.css" />
    <style is:global>
      @import "../styles/tokens.css";
    </style>
  </head>
  <body>
    <slot />
    <script src="/assets/index-RJ4U58x-.js" defer></script>
  </body>
</html>
