<footer class="border-t">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 text-sm opacity-70">
    © {new Date().getFullYear()} San Diego Commercial Mailbox. All rights reserved.
  </div>
</footer>
